<body>
    <h2 style="color:white;text-align: center;"> Users</h2>
    <table class="table table-hover">
        <thead >
            <tr class="head">
                <th>User ID</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>Role</th>
                <th>About User</th>
                <th>Date Of Birth</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users |paginate:{itemsPerPage:count,currentPage:p}">
                <td>{{user.userId}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.userEmail}}</td>
                <td>{{user.role}}</td>
                <td>{{user.about}}</td>
                <td>{{user.dob}}</td>
                <td>
                    <div class="dropdown">
                        <button class="dropbtn">Actions</button>
                          <div class="dropdown-content">
                             <a (click)=" updateUser(user.userId)">Update</a>
                             <a (click)=" viewUser(user.userId)">View</a>
                             <a (click)="deleteUser(user.userId)" >Delete</a>
                             
                          </div>
                       </div> 
                   </td>
            </tr>
        </tbody>
      </table>
      <div *ngIf="users.length!==0" style="display:flex;justify-content: center;align-items: center;">
        <button class="m-3 btn btn-lg btn-danger" (click)="removeAllUsers()">
            Remove All
          </button>
      </div>
      <div class="paginate" style="color:white">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
</body>
