<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"  >
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">

<body>
<h2 style="color:#FFF;text-align: center;font-size:xx-large;text-decoration: solid;"> Books List </h2>


<div class="main-search-input-wrap">
       
     
  <div class="main-search-input fl-wrap">
                                      <div class="main-search-input-item">
                                          <input type="text" [(ngModel)]="bookName" placeholder="Search Books...">
                                      </div>
                                      
                                      <button class="main-search-button" (click)="searchByBookName()" >Search</button>
                                  </div>
                                  

                                  </div>
   
      <div class="dropdown" >
        <button class="dropbtn">Sort By</button>
        <div class="dropdown-content">
          <a (click)="getBooksBySorting('costlow')">Cost low to high</a>
          <a (click)="getBooksBySorting('costHigh')">Cost high to low</a>
          <a (click)="getBooksBySorting('ratinglow')" >Rating low to high</a>
          <a (click)="getBooksBySorting('ratingHigh')" >Rating high to low</a>
          <a (click)="getBooksBySorting('A to Z')">Books from A To Z</a>
          <a (click)="getBooksBySorting('Z to A')">Books from Z To A</a>
          <a (click)="getBooksBySorting('a to z')"> Authors from A to Z</a>
          <a (click)="getBooksBySorting('z to a')">Authors from Z to A</a>
        </div>
      </div>
     
      <div class="dropdown" >
        <button class="dropbtn">Filter</button>
          <div class="dropdown-content">
             <a (click)="getPublishedBooks()">Published Books</a>
             <a (click)="getNonPublishedBooks()">Unpublished Books</a> 
          </div>
       </div>

  
  
 
  <table class = "table table-hover" style="background-color:yellow;color:black;border-radius: 10px;" >
    <thead style="width: 100px;background-color: black;color: yellow;border-radius: 10px;">
        <tr >
            <th> Book Name</th>
            <th> Book ISBN </th>
            <th> Book Author</th>
            <th> Book Cost</th>
            <th> Number Of Books</th>
            <th> Rating of Book </th>
            <th> Is Published book</th>
            <th> Genere</th>

            <th> Actions </th>
            
        </tr>
    </thead>
    <tbody >
        <tr *ngFor = "let book of books | paginate: { itemsPerPage: count, currentPage: p }" >
            <td> {{ book.bookName }} </td>
            <td> {{ book.bookISBN }} </td>
            <td> {{ book.author }} </td>
            <td> {{ book.bookCost }} </td>
            <td> {{ book.noOfBooks }} </td>
            <td> {{ book.ratingOfBook }} </td>
            <td> {{ book.isPublished }} </td>
            <td>{{book.categoryDetails}}</td>
            <td>
              <div class="dropdown">
               <button class="dropbtn">Actions</button>
                 <div class="dropdown-content">
                    <a *ngIf="adminLogin()" (click)=" updateBook(book.bookISBN)">Update</a>
                    <a (click)=" viewBook(book.bookISBN)">View</a>
                    <a  *ngIf="adminLogin()" (click)="deleteBook(book.bookISBN)" >Delete</a>
                    
                 </div>
              </div>
            </td>
        </tr>
        
       
    </tbody>
    
    
   
</table>
<div *ngIf="books.length !== 0" style="display:flex;justify-content: center;align-items: center;">
  <button *ngIf="adminLogin()" class="m-3 btn btn-lg btn-danger" (click)="removeAllBooks()">
        Remove All
      </button>
</div>

  <div class="paginate" style="color:white">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</body>