<body>
  
  
      <div class="card">
        <h2><u>About us</u></h2>
        <p>A library management system is software that is designed to manage all the functions of a library. It helps librarian to maintain the database of new books and the books that are borrowed by members along with their due dates.</p>
        <p>This system completely automates all your library’s activities. The best way to maintain, organize, and handle countless books systematically is to implement a library management system software.</p>
        <p>A library management system is used to maintain library records. It tracks the records of the number of books in the library, how many books are issued, or how many books have been returned or renewed or late fine charges, etc.</p>
        <p>You can find books in an instant, issue/reissue books quickly, and manage all the data efficiently and orderly using this system. The purpose of a library management system is to provide instant and accurate data regarding any type of book, thereby saving a lot of time and effort.</p>
      </div>
  
      <div><h2 style="color: white;text-align: center;">Features</h2></div>
   <div class="row">
    <div class="column">
      <div class="card">
        <h3><u>Membership Administration</u></h3>
        <p>Keeping a thorough database of the members, the Management System stores each user's name, ID, and password for aiding in determining the member's history. The software is user-friendly and improves the effectiveness of the librarian and library administration.</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3><u>Online Services</u></h3>
        <p>Access to several affiliated libraries is made possible through the web-based library management system software. This broadens the search space, greatly enhancing the user experience.</p>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <h3><u>Self Management</u></h3>
        <p>To self-check-in and self-check-out books, the members of digital libraries can log in, search for, choose, issue, and return books on their own thanks to the library management system software.</p>
      </div>
    </div>
  
  
  <div class="column">
    <div class="card">
      <h3><u>Management Of Fees</u></h3>
      <p>To maintain each member's account and collect membership payments, the Library System covers it all. The fine that is owed for lost, damaged, or non-returned books is calculated by the program. The mechanism notifies the members of the fines.</p>
    </div>
  </div>
</div>
  </body>