<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
    <div class="w3-card-4" style="width:50%;">
        <header class="w3-container w3-black">
            <h1>Card details</h1>
        </header>
    </div>
    <div class="w3-container w3-yellow " style="width:50%">
             <p><b>Card Id : </b>{{particularCard.id}}</p>
             
           <p>Card is Active</p>
           <p><button style="color:white;background-color:black;border-radius: 30px;border-style: none;width:150px;height:50px" (click)="getAllCards()">Back</button></p>
    </div>
    

    
</body>
